/* border: 1px solid black; */
nav {
    background-color: white;
    width: 100%;
}

nav ol {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 86px;
    list-style: none;
    padding-right: 1em;
    margin: 0;
    border-bottom: 2px solid #f2f2f2;
}

nav ol li {
    padding: 10px;
}

nav img{
    width: 50px;
    height: 50px;
}
